.table .title {
    width: 10em;
}

.table em {
    font-style: normal;
    font-size: 0.8em;
}

.main-box {
    position: fixed;
    left: 50%;
    margin-left: -20em;
    width: 40em;
    top: 4em;
}

form .comment {
    color: grey;
}